# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/

# IDE
.vscode/
.vs/
.idea/
*.sln
*.csproj
*.user
*.userprefs

# OS (macOS)
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# Altro
*.bak
*.tmpgi
